<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Institute Login</title>
    <link rel="stylesheet" href="/css/login-style.css">
</head>
<body>
    <div id="main">
        <div class="login-container">
            <div class="login-box">
                <h2>Institute Login</h2>
                <form id="loginForm">
                    <div class="input-group">
                        <label for="email">Enter Your Email</label>
                        <input type="email" id="email" class="inputLogin" name="email" placeholder="Enter your email" required>
                    </div>
                    <div class="input-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" class="inputLogin" name="password" placeholder="Enter your Password" required>
                    </div>
                    <button type="submit" class="btn-login">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>