<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exam</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/typing.css">
</head>
<body>
    <div class="typing">
        <header>
            <div class="header-left">
                <div class="logo">
                    <img height="60" src="./assets/rare.png" alt="logo">
                </div>
                <div class="Titles">
                    <h2>Raretech Exam</h2>
                    <p>Raretech Basic Exam -2024</p>
                </div>
            </div>
            <div class="header-right">
                <div class="user-info">
                    <img class="userImg" id="userImg" src="/assets/rare.png" alt="User Profile">
                    <div class="details">
                        <span>Name: <p class="userName" id="userName"></p></span>
                        <span>RollNo: <p class="rollNumber" id="rollNumber"></p></span>
                    </div>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <div class="content-box">
                <div class="typing-text">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat, temporibus! Eaque eligendi est saepe nesciunt quia laudantium, sequi, quod aliquam pariatur voluptatem hic exercitationem porro perspiciatis eveniet ab tempore mollitia odio eum maiores nisi. Dolores voluptas laboriosam tenetur sequi!</p>
                </div>
                <div class="content">
                    <ul class="result-details">
                        <li class="time">
                            <p>Time Left:</p>
                            <span><b>03:00</b>min</span>
                        </li>
                        <li class="wpm">
                            <p>WPM:</p>
                            <span>0</span>
                        </li>
                    </ul>
                    <button style="display: none;" id="stexam" class="showExam">Next</button>
                </div>
            </div>
            <textarea name="input-field" placeholder="Click here to type..." class="input-field"></textarea>
        </div>
    </div>
</body>
</html>